<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" title="Volte para a página inicial do site.">
      <img src="../../assets/logo 1.png" width="30px"> House Helper
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
        </li>
        <li class="nav-item">
          <a style="color:rgb(248, 61, 61);" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
            <fa name="heart"></fa>
            Favoritos
          </a>
        </li>
        <li class="nav-item">
          <a id="modalLogin" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="material-icons left">
              account_circle
            </i>
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>