.navbar-inverse{
    background-image: linear-gradient(to right,#332e2e,#533139,rgb(77, 28, 9) 120%);
    background-color: #664f80;
    background-repeat: no-repeat;
}


/* Quanto o link estiver ativo ficará com a borda inferior laranjado*/
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    font-weight: bold;
    color: rgb(241, 131, 87);
    background-color: transparent;
}

/* A letra padrão da navbar é branca */
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

/* Quando o usuário passar o mouse pelo link, ficará com a borda superior laranjado */
.navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(241, 131, 87);
    background-color: transparent;
    transition: all 0.3s ease 0s;
}

.navbar-inverse .navbar-nav > li > a:active{
    background-color: rgb(63, 43, 35);
}

.navbar-padding-bottom{
    padding-bottom: 0px;
}

.navbar-text{
    padding-left: 20%; 
    font-size: 15px; 
    font-family: arial;
}