<div class="text-center">
    <img src="../../assets/logo 1.png" alt="logo do sistema!" width="100">
    <h1>OOPPSSS!!</h1>
    <p>Não conseguimos encontrar essa página pra você, me desculpe!</p>
</div>