<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">House Helper</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
                </li>
                <li class="nav-item">
                    <a style="color:rgb(248, 61, 61);" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
                        <fa name="heart"></fa>
                        Favoritos
                    </a>
                </li>
                <li class="nav-item">
                    <a id="modalLogin" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="material-icons left">
                            account_circle
                        </i>
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('../../assets/casa1.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <img src="../../assets/logo 1.png" alt="logo" width="100">
                    <h1>
                        <b>House Helper</b>
                    </h1>
                    <span class="subheading">Encontrando o seu novo lar!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Corpo da página -->
<div class="mb-5">
    <router-outlet></router-outlet>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="../../assets/logo 1.png" width="100px">
                </div>
                <form class="mt-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                        <small id="emailHelp" class="form-text text-muted">Nós não iremos compartilhar seu e-mail com mais ninguém.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua Senha">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Salvar senha</label>
                    </div>
                    <button id="cadastroUsuario" class="btn btn-primary" [routerLink]="['/user']" data-dismiss="modal">Cadastre-se</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </div>
</div>