<div class="container mb-5" style="background-color:rgb(255, 255, 255); margin-top:30px;">
    <!-- HEADER -->
    <div class="row pt-5 mb-4">
        <div class="col-md-6">
            <h4>
                <fa name="map-marker"></fa>
                Sunflower - Anápolis - GO -
                <span class="badge badge-secondary" title="Disponível para compra.">DISPONÍVEL</span>
            </h4>
        </div>
        <div class="col-md-6" style="color:rgb(255, 198, 9);" align="right" title="4,2">
            <fa name="star" size="2x"></fa>
            <fa name="star" size="2x"></fa>
            <fa name="star" size="2x"></fa>
            <fa name="star" size="2x"></fa>
            <fa name="star-o" size="2x"></fa>
        </div>
    </div>

    <!-- IMAGENS DO IMÓVEL - 360 -->
    <div class="mt-2 ml-5 text-center">
        <!-- <img src="../../../assets/casa1/teste.jpg" alt="comodo 1" class="img-thumbnail mt-2 ml-2" width="900">  -->
        <a-scene embedded>
            <a-sky src="../../../assets/casa1/casa360.jpg" rotation="0 -130 0"></a-sky>
        </a-scene>
    </div>
    <div align="center">
        <img src="../../../assets/casa1/teste2.jpg" alt="comodo 1" class="img-thumbnail mt-2 ml-2" width="100">
        <img src="../../../assets/casa1/sala.jpg" alt="comodo 6" class="img-thumbnail mt-2 ml-2" width="100">
        <img src="../../../assets/casa1/cozinha.jpg" alt="comodo 3" class="img-thumbnail mt-2 ml-2" width="100">
        <img src="../../../assets/casa1/quarto.jpg" alt="comodo 4" class="img-thumbnail mt-2 ml-2" width="100">
        <img src="../../../assets/casa1/quarto2.jpg" alt="comodo 5" class="img-thumbnail mt-2 ml-2" width="100">
        <img src="../../../assets/casa1/banheiro.jpg" alt="comodo 2" class="img-thumbnail mt-2 ml-2" width="100">
    </div>

    <!-- DESCRIÇÃO DO IMÓVEL -->
    <div class="text-center mt-5">
        <h4>
            <fa name="pencil-square"></fa>
            Descrição
        </h4>
        <hr class="green-line">
    </div>
    <div class="mt-4">
        <p class="text-justify">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o
            século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de
            modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica,
            permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo
            passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica
            como Aldus PageMaker.
        </p>
    </div>

    <!-- INFORMAÇÕES DA CASA -->
    <div class="text-center mt-4">
        <h4>
            <fa name="home"></fa>
            Repartições
        </h4>
        <hr class="green-line">
    </div>
    <div class="mt-4 text-center">
        <h5>
            <fa name="bed" class="ml-4"></fa>2 Quartos
            <fa name="cutlery" class="ml-4"></fa>1 Cozinha
            <fa name="tv" class="ml-4"></fa> 1 Sala
            <fa name="bath" class="ml-4"></fa> 2 banheiros
            <fa name="home" class="ml-4"></fa>Área total: 46m²
        </h5>
    </div>

    <div class="text-center mt-5 pt-5 pb-5 row" style="background-color:rgb(247, 244, 244);">
        <!-- INFORMAÇÕES DA COMPRA -->
        <div class="col-md-6 text-left">
            <div class="pl-5">
                <h4 class="text-center">
                    <fa name="credit-card-alt" style="color:rgb(38, 38, 134)"></fa>
                    Compra
                </h4>
                <div class="mt-4 row">
                    <div class="col-md-6">
                        <s style="opacity:0.4">
                            <fa name="money"></fa>R$ 1.000.000,00</s>
                        <br>
                        <fa name="money"></fa>R$ 950.000,00
                        <br> 60x R$ 15.833,33
                        <br>
                        <fa name="phone"></fa>(99) 99999-9999
                    </div>
                    <div class="col-md-6 pt-4">
                        <button class="btn btn-outline-primary">Simular Compra</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- INFORMAÇÕES DA LOCAÇÃO -->
        <div class="col-md-6 text-left">
            <div class="pl-5">
                <h4 class="text-center">
                    <fa name="money" style="color:rgb(27, 133, 44)"></fa>
                    Locação
                </h4>
                <div class="mt-4 row">
                    <div class="col-md-6">
                        <s style="opacity:0.4">
                            <fa name="money"></fa>R$ 2.500,00 MENSAL</s>
                        <br>
                        <fa name="money"></fa>R$ 2.000,00 MENSAL
                        <br> Condomínio R$ 500,00
                        <br>

                    </div>
                    <div class="col-md-6 pt-4">
                        <button class="btn btn-outline-success">Ler Contrato</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5 pb-5 row">
        <div class="col-md-6">
            <div class="pl-5">
                <h4 class="text-center">
                    <fa name="phone" style="color:rgb(27, 133, 44)"></fa>
                    Contato
                </h4>
                <div class="mt-4">
                    <fa name="phone"></fa> (99) 99999-9999
                    <br>
                    <fa name="envelope"></fa> example@email.com
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pl-5">
                <h4 class="text-center">
                    <fa name="comments" style="color:rgb(27, 133, 44)"></fa>
                    Enviar Mensagem
                </h4>
                <div class="mt-4 text-center">
                    <p>Converse agora com o proprietário!</p>
                    <button class="btn btn-primary">
                        <fa name="comment"></fa>Chat</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        a-scene {
            height: 500px;
            width: 1000px;
        }
    </style>