<div class="container">
    <div class="mt-4">
        <form [formGroup]="userForm" novalidate>
            <div class="form-group">
                <label for="Nome">Nome Completo
                    <b class="red">*</b>
                </label>
                <input id="nome-completo" type="text" class="form-control text-muted" name="nome_completo" formControlName="nomeCompleto"
                    placeholder="Digite o nome completo" maxlength="100">
            </div>
            <div class="form-group">
                <label for="Email">E-mail</label>
                <input id="email" type="email" class="form-control text-muted" name="email" formControlName="email" placeholder="Digite o E-mail"
                    maxlength="50">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputTipoPessoa">Tipo de Pessoa</label>
                    <select id="inputTipoPessoa" class="form-control" formControlName="tipodePessoaEnum" (change)="mudarCampo(tipodePessoaEnum)">
                        <option selected>Selecione</option>
                        <option value="0">Física</option>
                        <option value="1">Jurídica</option>
                    </select>
                </div>
                <div class="col-md-6" [hidden]="!isFisica">
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input id="cpf" type="cpf" class="form-control text-muted" name="cpf" formControlName="cpf" placeholder="Digite o CPF" maxlength="11">
                    </div>
                </div>
                <div class="col-md-6" [hidden]="isFisica">
                    <div class="form-group">
                        <label for="cnpj">CNPJ</label>
                        <input id="cnpj" type="cnpj" class="form-control text-muted" name="cnpj" formControlName="cnpj" placeholder="Digite o CNPJ"
                            maxlength="14">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input id="senha" type="password" class="form-control text-muted" name="senha" formControlName="senha" maxlength="50" placeholder="Digite o Senha">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTipoUsuario">Perfil de Usuario</label>
                    <select id="inputTipoUsuario" class="form-control" formControlName="tipoDeUsuarioEnum">
                        <option selected>Selecione</option>
                        <option value="0">Administrador do sistema</option>
                        <option value="1">Empresa</option>
                        <option value="2">Usuário comum</option>
                    </select>
                </div>
            </div>
            <button id="buttonSalvar" class="btn btn-outline-primary" (click)="save(userForm.value)">
                Salvar
            </button>
            <button id="buttonCancelar" class="btn btn-outline-secondary" [routerLink]="['/']">
                Cancelar
            </button>
        </form>
    </div>
</div>
<!-- <span> {{userForm.value | json}}</span>
<span> {{ isFisica }} </span> -->