<div align="center" style="background-color:white; margin-top:-50px;">
  <div class="row pt-5 pb-5 container" >
    <div class="col-md-4">
      <div class="card border border-success rounded" style="width: 19rem;">
        <img class="card-img-top" src="../../assets/houseOne.jpeg" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <h5 class="card-title" align="left"> Sunflower</h5>
            </div>
            <div class="col-md-7" style="color:rgb(255, 198, 9);" align="right" >
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
                          
            </div>
          </div>
          <p class="card-text">
            <i class="material-icons left">location_on</i>Sunflower - Anápolis - GO</p>
          <div class="row" align="left">
            <div class="col-md-6 pull-right">
              <p class="card-text">
                <fa name="bed"></fa>2 Quartos</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <fa name="cutlery"></fa>1 Cozinha</p>
            </div>
          </div>
          <div class="row" align="left">
            <div class="col-md-6">
              <p class="card-text">
                <fa name="tv"></fa> 1 Sala</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <fa name="bath"></fa> 2 banheiros</p>
            </div>
          </div>
          <div class="mt-2">
            <span class="badge badge-secondary">Aluguel - R$ 2.000,00</span>
            <span class="badge badge-secondary">Venda - R$ 1.000.000,00</span>
          </div>
          <div class="row mt-3">
            <div class="col-md-8">
              <a [routerLink]="['/immobile']" class="bt- btn btn-primary">Ver Detalhes</a>
            </div>
            <div class="col-md-4 mt-1">
              <fa name="heart-o" size="2x"></fa>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" align="center">
      <div class="card border border-success rounded" style="width: 19rem;">
        <img class="card-img-top" src="../../assets/houseTwo.jpeg" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <h5 class="card-title" align="left">An. City</h5>
            </div>
            <div class="col-md-7" style="color:rgb(255, 198, 9);" align="right" >
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
            </div>
          </div>
          <p class="card-text">
            <i class="material-icons left">location_on</i>Anápolis City - ANS - GO</p>
          <div class="row" align="left">
            <div class="col-md-6 pull-right">
              <p class="card-text">
                <fa name="bed"></fa>2 Quartos</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <fa name="cutlery"></fa>1 Cozinha</p>
            </div>
          </div>
          <div class="row" align="left">
            <div class="col-md-6">
              <p class="card-text">
                <fa name="tv"></fa> 1 Sala</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <fa name="bath"></fa> 2 banheiros</p>
            </div>
          </div>
          <div class="mt-2">
              <span class="badge badge-secondary">Aluguel - R$ 3.500,00</span>
              <span class="badge badge-secondary">Venda - INDISPONÍVEL</span>
          </div>
          <div class="row mt-3">
            <div class="col-md-8">
              <a [routerLink]="['/immobile/2']" class="bt- btn btn-primary">Ver Detalhes</a>
            </div>
            <div class="col-md-4 mt-1">
              <fa name="heart-o" size="2x"></fa>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" align="center">
      <div class="card border border-success rounded" style="width: 19rem;">
        <img class="card-img-top" src="../../assets/houseTree.jpeg" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <h5 class="card-title" align="left">An. City</h5>
            </div>
            <div class="col-md-7" style="color:rgb(255, 198, 9);" align="right" >
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
              <fa name="star fa-lg"></fa>
            </div>
          </div>
          <p class="card-text">
            <i class="material-icons left">location_on</i>Anápolis City - ANS - GO</p>
          <div class="row" align="left">
            <div class="col-md-6 pull-right">
              <p class="card-text">
                <fa name="bed"></fa>2 Quartos</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <fa name="cutlery"></fa>1 Cozinha</p>
            </div>
          </div>
          <div class="row" align="left">
            <div class="col-md-6">
              <p class="card-text">
                <fa name="tv"></fa> 1 Sala</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <fa name="bath"></fa> 2 banheiros</p>
            </div>
          </div>
          <div class="mt-2">
              <span class="badge badge-secondary">Aluguel - INDISPONÍVEL</span>
              <span class="badge badge-secondary">Venda - R$ 1.500.000,00</span>
          </div>
          <div class="row mt-3">
            <div class="col-md-8">
              <a [routerLink]="['/immobile/3']" class="bt- btn btn-primary">Ver Detalhes</a>
            </div>
            <div class="col-md-4 mt-1">
              <fa name="heart-o" size="2x"></fa>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>